.map{
  height: 800px;
}

.prik {
  background-image: url(./skraldebil.png);
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.skrald-hent {
  background-image: url(./skraldespand.png);
  background-size: cover;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
